# This is an example of a secret that contains any 'sensitive' configuration data for the Django app
# The data is base64 encoded
# In deployment.yaml, this secret will be specified as a source of environment variables for the Django app
# There is an additional secret for the certificates, which are mounted as files in the container (and thus cannot be part of this secret)
apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
type: Opaque
data:
  SECRET_KEY: dG9wc3lfa3JldHMK